* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: #e4e9ff;
  color: black;
  padding: 12px;
  font-family: Arial, sans-serif;
}

/* Main Layout */
.main {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 32px;
  height: 900px;
}

aside {
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 16px;
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Elements */
.logo {
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 25px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-item:last-child {
  margin-top: auto;
}

.button {
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.categories {
  width: 693px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.categories button {
  width: 130px;
  height: 39px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #512bee;
  color: white;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 80px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  margin-bottom: 15px;
  padding-left: 20px;
}

.select-categoryies {
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-category {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.category-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.subcategory-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 65%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category,
.subcategory {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #e4e9ff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  height: 72px;
  margin-bottom: 15px;
}

.note-icon {
  position: absolute;
  left: 15px;
  border-radius: 15px;
}

.note-input {
  width: 100%;
  height: 72px;
  padding-left: 80px;
  font-size: 24px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.date-picker {
  width: 350px;
  height: 80px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  margin-bottom: 15px;
  padding-left: 15px;
  cursor: pointer;
  font-family: inherit;
}

.date-picker::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
}

.confirm-container {
  display: flex;
}

.confirm {
  width: 190px;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  background-color: #6f4fee;
  color: white;
  cursor: pointer;
  align-self: center;
}

.input-category {
  width: 500px;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  background-color: #e4e9ff;
  color: black;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  padding-left: 20px;
}
